*.suo
*.cache
*/Thumbs.db
/Source/.vs/*
Source/*/obj/*
Source/*/bin/*
/Source/*/*.csproj.user
.vscode
# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.pdb
 
# Ignore RimWorld assemblies 
Assembly-CSharp.dll 
UnityEngine.dll 

# Exclude optimized .dds textures from RimPy / png2dds
*.dds


.idea/
*.vsidx
*.cache
*.db-shm
*.db
/_Sources/Fortified/.vs/Fortified/CopilotIndices
/_Sources/Fortified/.vs/ProjectEvaluation
/_Sources/Fortified/.vs/Fortified/v17
/_Sources/Fortified/.vs/Fortified/CopilotIndices
/_Sources/Fortified/obj
/_Sources/Fortified/.vs
/_Sources/Fortified/obj
/_Sources/Fortified/.vs
*.cache
*.bin
*.json
*.v2
*.db
*.json
*.cache
*.props
*.cache
*.json
*.cache
# Unity
UnityProject/Library/
UnityProject/Temp/
UnityProject/Obj/
UnityProject/Build/
UnityProject/Logs/
UnityProject/MemoryCaptures/
UnityProject/UserSettings/
UnityProject/AssetBundles/
*.cache
*.json
*.v2
